@import url(https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css);
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSans-kr.css);
html{
   font-size: 30px;
}

body {
   font-family: ‘Spoqa Han Sans’, ‘Sans-serif’;
   font-weight: 400;
   font-size: 1.6rem;
   background-color: #fff;
 }
h3{
   color: blueviolet;
}